{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    this is the cart.proced to review your item
{% endblock %}
{% block title %}
    cart - ABC company pvt
{% endblock %}

{% block content %}

{% if not cart_items %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">
            Your Shopping cart is empty
        </h1>
        <br>
        <p class="text-center">
            Please click <a href="{% url 'shop:allProdCart' %}">here</a> to continue shopping
        </p>
    </div>
</div>
{% else %}
<div>
    <div class="text-center"><br>
        <h1 class="text-center my_title">Your shopping cart</h1><br>
    </div>
</div>
<div class="row mx-auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_costom_thead">
                <tr>
                    <th colspan="10">
                        Your items
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for cart_item in cart_items %}
                <tr>
                    <td>
                        <a href="{{ cart_item.product.get_absolute_url }}">
                            <img src="{{ cart_item.product.image.url }}" width="100px" alt="" class="float-left rounded custom_image">
                        </a>
                    </td>
                    <td class="text-left">
                        {{ cart_item.product.name }}<br>
                        SKU:{{ cart_item.product.id }}<br>
                        Price: ${{ cart_item.product.price }}<br>
                        Qty: {{ cart_item.quantity }} x ${{ cart_item.product.price }}<br>
                    </td>
                    <td>
                        ${{ cart_item.sub_total }}
                    </td>
                    {% if cart_item.quantity < cart_item.product.stock %}
                    <td>
                        <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="custom_a">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a">
                            <i class="fa-solid fa-minus"></i>
                        </a>
                        &nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_icon">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                    {% else %}
                    <td>
                        &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a">
                            <i class="fa-solid fa-minus"></i>
                        </a>
                        &nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_icon">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_costom_thead">
                <tr>
                    <th> CHECKOUT</th>
                </tr>

                <tr>
                    <td>Please review your shopping</td>
                </tr>
                <tr >
                    <td class="text-left">
                        Total is:<strong>{{total}}</strong>
                    </td>
                </tr>

            </thead>
        </table>
        <div class="mx-auto">
            <a href="{% url 'shop:allProCat' %}" class="btn btn-secondary btn-bloc my_custom_button">Continue shopping</a>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
